.text {
  font-size: 1.6rem;
  line-height: 1.6rem;

  &.p + &.p {
    margin-top: 1.6rem;
  }

  &.dark {
    color: var(--color-text-dark);
  }

  &.light {
    color: var(--color-text-light);
  }

  &.bold {
    font-weight: 600;
  }
}
