.header-menu {
  position: relative;
  border-radius: 1.5rem;
  background-color: var(--color-background-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 720px) {
     display: inline-flex;
  }
}

.section {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &:not(:last-of-type) {
    border-bottom: 0.2rem solid #fff;
  }

  @media (min-width: 720px) {
    &:last-of-type {
      display: contents;
    }
  }
}

.user-icon {
  margin-right: 1.6rem;
}

.link-group {
  padding: 0 1.6rem;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:first-of-type {
    margin-bottom: 1.6rem;
  }

  > * {
    flex: 1;
  }

  > * + * {
    margin-left: 1.6rem;    
  }
}

.close-button {
  padding: 0;

  @media (min-width: 720px) {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
  }
}
