.header {
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0 1.2rem;
  background-color: var(--color-background-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5.6rem;
  overflow: visible;

  @media (min-width: 720px) {
    display: inline-flex;
    overflow: visible;
  }
}

.item {
  display: inline-flex;

  @media (min-width: 720px) {
    & + & {
      margin-left: 1.6rem;
    }
  }
}

.button {
  composes: item;

  &:hover,
  &:active,
  &:focus {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.title {
  composes: item;

  @media (min-width: 720px) {
    order: 3;
    height: 100%;
    border-left: 0.3rem solid white;
    padding-left: 1.6rem;
    align-items: center;
  }
}

.menu-visible {
  &:not(:checked) ~ .header-menu {
    display: none;
  }

  @media (min-width: 720px) {
    &:checked ~ .item:first-of-type::before {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
